<h3>Indbakke</h3>
<p>Dette er en liste over systemaktivteter eller hændelser der angår dig. Brug Beskder siden i indstillingerne for at bestemme hvordan du vil gøres opmærksom på disse. Når du har læst en besked, kan du markere at den skal fjernes fra din liste.</p>
<p><strong>Bemærk:</strong> Læste beskeder vil automatisk udløbe og blive fjernet fra din liste efter 60 dage.</p>
