<h3>Beskeder</h3>
<p>Du kan vælge, hvordan du modtager beskeder for hver aktivitetstype.</p>
<h4>Beskedtyper</h4>
<p><strong>Aktivitets log:</strong> dit beskedområde vil vise en liste over de aktivitetsbskeder, som du har modtaget.</p>
<p><strong>E-mail:</strong> din primære e-mail-adresse vil modtage en e-mail, hver gang den aktivitet sker.</p>
<p><strong>E-mail sammendrag:</strong> din primære e-mail-adresse vil modtage en daglig e-mail med en liste over aktiveteter fra de seneste 24 timer.</p>
<p><strong>Benærk:</strong> Hvis du vælger en af e-mail mulighederne vil alle aktiviteter stadig blive skrevet op i din aktiviets log når de sker. De vil alle blive markeret som læst, og vil automatisk udløbe og blive fjernet fra din log efter 60 dage.</p>

<h4>Aktivitetstyper</h4>
<p><strong>Systembeskeder:</strong> automatiske beskeder fra systemet, eller beskeder sendt fra en af webside administratorerne.</p>
<p><strong>Beskeder fra andre brugere:</strong> beskeder sendt til dig direkte fra andre brugere.</p>
<p><strong>Feedback:</strong> beskeder om feedback eller kommentarer til visninger, artefakter eller blogs i din portefølje.</p>
<p><strong>Overvågningsliste:</strong> besked om aktivitet på ethvert artefakt, visning, gruppe, eller blog som du overvåger.</p>
<p><strong>Ny visningsadgang:</strong> besked om at du eller en af dine gupper nu har adgang til en ny eller eksisterende ikke-offentlig visning.</p>
