<h3>Tillad bearbejdelse af værket</h3>

<p>Du tillader at andre kopierer, distribuerer, viser og opfører dette værk, og lave bearbejdede værker baseret på det.</p>

<h3>Del på samme vilkår</h3>

<p>Du tillader andre at lave bearbejdede værker, men kun under samme licens, eller en der er kompatible med den som dækker licensgiverens værk.</p>

<h3>Ingen bearbejdelse</h3>

<p>Du tillader at andre kun kopierer, distribuerer og sender uænderede kopier af værket — ikke bearbejdede værker baseret på det.</p>
