<h3>Kommercielt brug</h3>

<p>Du tillader at andre kopierer, distribuerer, viser og opfører dette værk, inklusiv til kommercielle formål.</p>

<h3>Ikke-kommercielt</h3>

<p>Du tillader at andre kopierer, distribuerer, viser og opfører dette værk, men kun til ikke-kommercielle formål.</p>
