<h3>Samlings visninger</h3>
<p>Her kan du tilføje visninger til din samling og vælge i hvilken rækkefølge de skal stå i visningsnavigations bloktyperne.</p>
<p>Når du tilføjer en visning til din samling vil adgangstilladelserne fra visningen blive tilføjet til samlingens adganstilladelser.</p>
