﻿<h3>Min konto</h3>
<p>Min konto området gør dig i stand til at skifte dit brugernavn og kodeord og indstille, hvordan du bruger siden.</p>
<p>Konti udløber automatisk efter en preidoe angivet af webside administratoren. Du vil få en advarsel når kontoen er ved at udløbe, og blive fortalt hvordan du gemme din portefølje.</p>
<p><strong>Bemærk:</strong> Det er vigtigt at gemme alle nye indtastninger ved hjælp af knappen i bunden af siden.</p>
