<h3>Administrator brugere</h3>
<p>Administratoradgang tillader at en bruger kan gøre alt og se alt på websiden. Administratorer kan ikke se en brugers visninger direkte, men de er i stand til at logge ind som andre brugere, hvis det er nødvendigt. Webside Administrator er den øverste rolle på websiden - vær forsigtig med hvem du betror denne post!</p>
<p>For at give brugere administrator adgang, vælg dem fra listen over potentielle administratorere og brug pil til højre knappen til at flytte dem over til nuværende administratorer listen.  For at fjerne administratoradgang fra brugere, vælg deres navn i nuværende administratorer listen og brug pil til venstre gnappen til at flytte dem tilbage i potentielle administratorer listen.</p></p>
<p>Når der er mere end 250 brugerkonti på webside kan du være nødt til at søge efter specifikke brugere med søgefeltet.  Du kan også vælge flere brugere på én gang ved at holde Ctrl eller Skift nede og klikke på navnene.</p>
<p>Der skal altid være mindst én administrator i systemet.</p>
