<h3>Institutioner</h3>
<p>Institutioner siden gør dig i stand til at redigere eksisterende og opsætte nye institutioner forbundet til websiden. Institutioner er hovedsageligt en samling af brugere, der har sin egne administratorer og personale, så webside administratoren kan fokusere på at holde websiden kørende.</p>
