<h3>Administratorbeskeder</h3>
<p>Administratorbeskeder siden viser alle brugere med Admin rettigheder på websiden og deres valgte aktivitetsindstillinger med hensyn til alle administratorbeskeder.  Der bør være mindst én administrator der modtager hver slags systembeskeder.</p>
