<h3>Plugin administration</h3>
<p>Plugin administration siden viser alle de plugins der i øjeblikket er installeret på denne Mahara webside og har et link til pluginindstillingerne for at finjustere siden, der hvor det kan lade sig gøre.</p>
