<h3>Links og ressourcer menu</h3>
<p>I din Mahara installation er det muligt at have en links og ressourcer menu for både offentligeheden og brugere. Denne menu vises for alle brugere på de fleste sider, og gør dig i stand til at linke til vigtige og nyttige sider og dokumenter.</p>
