<h3>Webside sider</h3>
<p>Kernesiderne af en Mahara installation kan dynamisk redigeres af en webside administrator.  Hvis du ønsker at redigere indholdet af en kerneside (Om, Hjem, Logget ud Hjem, Erklæring om personlig information, Vilkår og betingelser og upload ophavsretserklæringen) til andet end standardteksten, så vælg den side du vil redigere og brug HTML editoren til at lave de ønskede ændringer.  Husk at gemme dine ændringer før du indlæser en anden redigerbar side eller forlade Webside siderne.</p>
