<h3>Personalebrugere</h3>
<p>Personale adgang giver en bruger adgang til at oprette kontrollerede grupper, modage og frigive indsendte visninger og se en brugers nøgleprofilinformation (fuldt navn, studienummer, vist navn).</p>
<p>For at give brugere personale adgang, vælg dem fra listen over potentielt personale og brug pil til højre knappen til at flytte dem over til nuværende personale listen.  For at fjerne personaleadgang fra brugere, vælg deres navn i nuværende personale listen og brug pil til venstre gnappen til at flytte dem tilbage i potentielt personale listen.</p>
<p>Når der er mere end 250 brugerkonti på webside kan du være nødt til at søge efter specifikke brugere med søgefeltet.  Du kan også vælge flere brugere på én gang ved at holde Ctrl eller Skift nede og klikke på navnene.</p>
