<h3>Brugersøgning</h3>
<p>Administratoer versionen af brugersøgning fungerer på nøjagtig samme måde som websidens søgefelt, dog kan administratorer se hvilken institution brugeren tilfører og kan suspendere de brugere de finder i søgningen.</p>
