<h3>Vedhæft filer</h3>
<p>Hvis du ønsker at vedhæfte filer der er i dit filarkiv til dit blogindlæg, kan du Gennemse dit arkiv efter de ønskede filer.</p>
<p>Naviger gennem din filmappe struktur og Vælg de øsnkede filer.</p>
<p>Du kan også uploade nye filer fra din computer. De vil blive placeret i dit filområde og vedhæftet til dit indlæg samtidigt.</p>
