<h3>Upload fil</h3>
<p>Du kan vedhæfte flere filer til et blogindlæg. Filer der er vedhæftet til et blogindlæg bliver automatisk tilføjet til dit filarkiv i mappen &#8216;blogfiles&#8217; og optager en del af din filkvote.</p>
<p>Hvis du uploader en fil, men annullerer indlægget, eller forlader Blog området uden at gemme, blive de uploadede fil også fjernet fra dit filarkiv.</p>
<p>Hvis du uploader et billede til et blogindlæg, kan du bruge Billede knappen i HTML editoren til at indsætte det in dit indlæg. Du an vælge størrelse, justering, ramme og plads omkring billedet med de felter, der medfølger.</p>
<p>Du kan også indsætte et billide via et link fra en anden webside. Du kan enten indtaste billedets URL eller &#8216;trække og slippe&#8217; billedet fra den anden webside ind i HTML editoren. Vær opmærksom på, om du har de korrekte ophavsretslige tilladelser til at bruge billedet.</p>
<p>Du får den bedste kvalitet, hvis du bruger billder, der ikke er større end 400x400 pixels og maksimalt 5 pixels luft på hver side.</p>
