<h3>Hvordan indsætter man?</h3>

<h4>Google Docs</h4>

<p>Google Apps til undervisningsdomæner: Deling af enkeltfiler er identisk med hvordan det gøres på en normal Google Apps konto.</p>
<p>Din institutionsadministrator kan have indstillet Google Apps således at kn medlemmer af samme institution som dig kan se dine delte filer.<br>Hvis det er tilfældet vil brugeren blive præsenteret for en Google Apps log ind skærm og når der er lbevet logget ind i Google Apps, vil de indsatte filer blive synlige i visningen.</p>

<p><strong>Dokumenter</strong></p>
<ol>
<li>Åbn Google Docs dokument</li>
<li>Klik på <em>Share</em> og derefter <em>Publish to the Web</em> (øverst til højre)</li>
<li>Klik på <em>Start publishing</em> knappen</li>
<li>Kopier <em>Document link</em> eller <em>Embed code</em></li>
<li>Sæt det ind i GoogleApps bloktypen</li>
</ol>
<p><strong>Regneark</strong></p>
<ol>
<li>Åbn Google Docs regneark</li>
<li>Klik på <em>Share</em> og derefter <em>Publish as a web page</em> (øverst til højre)</li>
<li>Klik på <em>Start publishing</em> knappen</li>
<li>Kopier link fra tesktområdet</li>
<li>Sæt det ind i GoogleApps bloktypen</li>
</ol>
<p><strong>Præsentationer</strong></p>
<ol>
<li>Åbn Google Docs præsentation</li>
<li>Klik <em>Share</em> og derefter <em>Publish / embed</em> (øverst til højre)</li>
<li>Klik på <em>Publish document</em> knappen</li>
<li>Kopier link eller embed kode fra tesktområdet</li>
<li>Sæt det ind i GoogleApps bloktypen</li>
</ol>
<p><strong>Google Docs Viewer</strong></p>
<p>Denne funktion virker som preview funktionen i Gmail. Du kan indsætte filen, der er <em>direkte</em> tilgængelige på internettet. Du skal bare indsætte den komplette URL (inklusiv filnavn) hvor filen er tilgægelig for GoogleApps bloktypen.</p>
<p>Google Docs Viewer understøtter i øjebliket indsættelse af disse filtyper: PDF, TIFF, PPT, DOC, DOCX.</p>
<p><strong>Bemærk:</strong> De filer, som du har uploadet til Mahara, er ikke direkte tilgængelige, og kan dermed ikke indsættes på denne måde.</p>

<h4>Google Calendar</h4>
<ol>
<li>Åbn Google Calendar</li>
<li>Klik på <em>Settings</em> og derefter <em>Calendar settings</em> (øverst til højre)</li>
<li>Klik på <em>Calendars</em> linket øverst til venstre</li>
<li>Klik på navent på den kalender du vil indsætte</li>
<li>På <em>Calendar details</em> fanen kan du finde <em>Embed This Calendar</em></li>
<li>Tilpas kalenderens udeseende og kopier embed koden fra tekstområdet</li>
<li>Sæt den ind i GoogleApps bloktypen</li>
</ol>

<h4>Google Maps</h4>
<ol>
<li>Åbn Google Maps</li>
<li>Klik på <em>My Maps</em> linket øverst til venstre</li>
<li>Klik på navnet af det kort du vil indsætte</li>
<li>Klik på <em>Link</em> linket øverst til højre</li>
<li>Tilpas kortets udeseende og kopier embed koden</li>
<li>Sæt den ind i GoogleApps bloktypen</li>
</ol>
<strong>Bemærk:</strong> Brug kun trin 2 og 3 vis du vil indsætte et af DINE Google Maps. Hvis du bare vil indsætte Google Maps generelt, kan du springe trin 2 og 3 over.

<h4>Google Books</h4>
<ol>
<li>Åbn Google Books</li>
<li>Find den bog du ønsker at indsætte</li>
<li>Klik på <em>Preview this book</em> liket eller knappen</li>
<li>Klik på <em>Link</em> linket øverst til højre</li>
<li>Kopier bogens embed kode</li>
<li>Sæt den ind i GoogleApps bloktypen</li>
</ol>
