<h3>Opdater</h3>
<p>Vælg emner ved at sætte flueben i boksen til venstre for hvert emne. Vælg derefter en handling for at opdatere de valgte emner.</p>
<p><strong>Abonner</strong>: du får beskeder om nye indlæg i de valgte emner.</p>
<p><strong>Afmeld</strong>: du får ikke beskeder om nye indlæg i de valgte emner.</p>
