<h3>Beskeder fra andre brugere</h3>
<p>Brug denne indstilling til at vælge, hvem du ønsker at kunne få beskeder fra.</p>
<p>Brug aktivitetsindtillinger området til at vælge hvordan du modtager disse meddelelser.</p>
<p><strong>Bemærk:</strong> Disse restriktioner gælder ikke for webside adminisstratorer eller undervisningspersonale.</p>
