<h3>Vis styring til at tilføje og fjerne kolonner når du redigerer en visning</h3>
<p>Du kan vælge at vise en række med knapperne <img src="/theme/raw/static/images/btn_addcolumn_left.png" alt="add"> og <img src="/theme/raw/static/images/btn_removecolumn.png" alt="remove"> når du redigerer en visning. Disse knapper tilføjer og fjerner kolonner fra den visning.</p>
<p>Selvom disse knapper ikke er slået til, kan du ændre på antallet af kolonner i visningen på visningslayout siden.</p>
