<h3>Venneadmodninger</h3>
<p>Vælg om andre brugere skal have lov til at tilføje dig til deres venneliste. Hvis du bliver tilføjet til en venneliste, vil ejeren af den liste også blive tilføjet til din. Når du fjerne nogle fra din venneliste bliver du også fjernet fra deres. Vælg imellem:</p>
<p><strong>Ingen må tilføje mig som ven:</strong> ingen kan tilføje dig til deres liste.</p>
<p><strong>Nye venner kræver min godkendelse:</strong> du skal godkende venneanmodninger før du bliver tilføjet en venneliste. Godkender du anmodningen, bliver vennen også tilføjet til din liste.</p>
<p><strong>Nye venner godkendes automatisk:</strong> alle kan tilføje dig til deres venneliste.</p>
