<h3>Kodeord</h3>
<p>For at skifte dit kodeord til at logge ind, skal du førest indtaste dit nuværende kodeord her, og derefter dit nye ønskede kodeord i begge de andre bokse.</p>
<p>Dit nye kodeord skal være på mindst seks tegn og indeholde som minimum ét tal og to bogstaver. Der er forskel på om du brugere store eller små bogstaver, og dit brugernavn og kodeord må ikke være ens.</p>
