<h3>HTML Editor</h3>
<p>En HTML editor er tilgængelig på visse af websidens sektioner. Det er en såkaldt ‘What you see is what you get’ (WYSIWYG) editor. Denne gør dig i stand til at formatere din tekst, såsom at gøre den fed eller kursiv. Hvis editoren er slået fra, kan du kun skrive rå tekst.</p>
<p><strong>Bemærk:</strong> Alt efter hvilken internet browser du bruger, kan HTML editoren se forskellig ud.</p>
