<h3>Leap2A Filer</h3>
<p>Denne indstilling giver dig mulighed for at importere en <a href="http://wiki.cetis.ac.uk/2009-03/Leap2A_specification#About_this_specification" target="_blank">Leap2A eksport fil</a>, der indeholder data om en persons portefølje.</p>
<p>Du kan læse mere om det på Mahara wiki artiklen "<a href="http://wiki.mahara.org/Developer_Area/Import//Export" target="_blank">Mahara's support for Leap2A</a>".</p>
