<h3>Tilføj brugere til gruppen automatisk</h3>
<p>Hvis slået til vil alle der registerer sig på websiden blive tilføjet til denne gruppe.</p>
<p>Afhængigt af gruppens type kan brugerne stadig have mulighed for at forlade gruppen.</p>
