<h3>Gruppetype</h3>
<p>Du kan vælge mellem flere gruppetyper, der bestemmer hvordan brugere kan melde sig ind i gruppen.</p>

<h6>Åbent medlemskab</h6>
<p>Hvis gruppen har åbent medlemskab vil alle brugere på websiden være i stand til at melde sig ind i gruppen ved at besøge gruppens side og melde sig ind.</p>

<h6>Anmod medlemskab</h6>
<p>Hvis gruppen er indstillet til at brugerne skal anmode om medlemskab skal brugene sende en amonding for at blive medlemmer. Som ejer af gruppen kan du godkende aller afvise denne anmodning. Brugeren der sender anmodning vil automatisk blive oplyst om din beslutning.</p>

<h6>Kun per invitation</h6>
<p>Hvis gruppen er indstillet til kun at få nye medlemmer per invitation betyder det at kun de brugere som du inviterer kan blive medlemmer af gruppen.</p>

<h6>Kontrolleret medlemskab</h6>
<p>Kontrolleret medlemskab kan kun bruges af administratorer og personale, og gør dig i stand til at tilføje og fjerne gruppemedlemmer direkte.</p>
<p>Brugere er ikke i stand til at melde sig ud af kontrollerede grupper.</p>

<h4>Kursusgrupper</h4>
<p>Kursusgrupper er en speciel type grupper, der kun kan opretters af administratorer og websiden personale.</p>
<p>Kursusgrupper kan indeholde undersisere såvel som normale medlemmer.  Alle medelemmer af kursusgrupper kan indsende deres visninger til gruppen så underviserne kan bedømme dem.  Når underviserne give feedback på en indsendt visning, kan de også vedhæfte en fil, der kun kan ses af visningens ejer.</p>
<p>Der er to typer kursusgrupper:</p>

<h6>Kursus: Anmod medlemskab</h6>
<p>Brugerne kan blive medlem af gruppen ved an anmode om medlemskab, ligesom i normale grupper med anmodet medlemskab.</p>

<h6>Kursus: Kontrolleret medlemskab</h6>
<p>Kursusgrupper med kontrolleret medlemskab gør gruppeadministratorer i stand til at tilføje og fjerne gruppemedlemmer direkte. Undervisere er kun i stand til at tilføje medlemmer direkte.</p>
<p>Dette er lavet til at være en kursus-baseret gruppe, hvor meldemmerne styres af et eksternt system (såsom en institutions tilmeldingssystem) og du ønsker at kopiere disse medlemmer ind i gruppen.</p>
<p>Brugere er ikke i stand til at melde sig ud af kontrollerede grupper.</p>
