<h3>Hemmelig URL</h3>
<p>Hvis du ikke vil have at alle skal kune se din visning, men du
vil vise det til nogen som ikke er medlem af wesiden, så kan du
gøre din visning synlig til offentligheden gennem et specielt link,
der er svært at gætte. Du kan fortælle dine venner om din visning
ved at kopiere linket over i en e-mail.</p>
