<h3>Tags</h3>
<p>Du kan tagge de artefakter og visninger du opretter i Mahara.  Med tags kan du tilføje beskrivende etiketter til artefakter og visninger.</p>
<p>Hvis du klikker på <b>Vis mine tags</b> får du en liste over de tags du tidligere har brugt i din protefølje og hvor mange gange du har brugt dem.  Hvis du klikker på et eksiterende tag, vil det blive tilføjet til eller fjernet fra tag-listen på det artefakt eller den visning du er ved ar oprette eller redigere.</p>
