<h3>Offentlig synlig gruppe</h3>
<p>Hvis det er slået til vil de leste af gruppens sektioner kunne læses af alle der besøger gruppens side - inklusiv folk der ikke har en konto på denne webside.</p>
<p>Alle kan se listen over gruppemedlemmer og se alle diskussioner i gruppens fora. Folk skal dog stadig være medlemmer af gruppen for at kunne lave indlæg på forummet.</p>
<p>Uanset denne indstilling, vil gruppens filsektion og alle filer deri kun være tilgængelig for gruppen.</p>
