<h3>Webside administrator</h3>
<p>Webside administratorer er i stand til at udføre de fleste handlinger omkring bruger- og websidestyring, inklusiv at logge ind som andre brugere og styring af institutioner.</p>
