<h3>E-mail</h3>
<p>Brugere kan vælge om de ønsker at modtage e-mail eller ej.</p>
<p>Hvis e-mail er slået fra for en bruger, vil de stadig modtage beskeder
fra det indbyggede besked system.</p>
<p>Afhængig af din opsætning vil e-mails der bliver sendt tilbage til
afsender gøre at e-mail bliver slået fra for denne bruger.</p>
