<h3>Godkendelsesmetode</h3>
<p>Alle brugere har én primær metode til at blive godkendt af Mahara. I meget specielle tilfælde kan de også have en sekdundær gokendelsesmetode, me som regel har de kun den ene.</p>
<p>Her kan du vælge, hvilken metode denne bruger bruger til godkendelse hos denne Mahara installation. Det meste af tiden behøver du ikke at røre dette, da det vil være sat korrekt op på forhånd.</p>
<p>I visse tilfælde kan du blive nødt til at en bruger kan blive godkendt af Mahara med en anden metode end de plejer. Eksempelvis, hvis de plejede at bruge LDAP, For example, men LDAP serveren ikke længere genkender dem, og de ønsker at fortsætte med at have adgang tilderes konto, kan du indstille dette til en anden metode, såsom 'Intern (ingen institution)'. Brugeren vil så være i stand til at logge direkte ind i Mahara uden at have brug for LDAP serveren. Du bør dog bruge 'Nulstil kodeord' feltet ovenfor for at give brugeren et nye førstegangskodeord.</p>
