<h3>Tema</h3>
<p>Det tema som brugere der er logget ind og er medlemmer ad denne institution vil se. Hvis <strong>Webside standard</strong> er valgt, vil temaet for denne institutions brugere også ændre sig hvis en administrator ændrer på standardtemaet.</p>
