<h3>Registrering tilladt?</h3>
<p>Hvis denne indtilling er slået til, kan brugere registere sig til siden via registrationsformularen.</p>
<p>Hvis mere end én institution har denne inddstilling slået til, vil brugeren kunne vælge, hvilken institution den ønsker at melde sig ind i med en dropdown menu.</p>
<p>Hvis ingen institutioner har denne indstilling slået til, kan brugere registere ikke sig til siden via registrationsformularen.</p>
<p>Generelt, hvis du har brugerne indstillet til at blive medlemmer gennem funktioner såsom LDAP login eller SSO fra en ekstern applikation, bør du slå denne indstilling fra. Du bør også slå den fra, hvis du ønsker at have kontrol over oprettelsen af nye brugere med '<a href="add.php" target="_blank">Tilføj bruger</a>' eller '<a href="uploadcsv.php" target="_blank">Tilføj brugere med CSV</a>' siderne.</p>
