<h3>Institutionsudløbsdato</h3>
<p>Institutionens udløbsdato er den dato hvor institutionen bliver suspenderet, og alle institutionens brugere ikke vil være i stand til at logge ind, indtil den bliver afsuspenderet.</p>
