<h3>Låste felter</h3>
<p>Hver institution kan indstille hvilke brugerprofil felter, der er låst så brugeren ikke kan ændre dem.  Eksempelvis kan man for sikkerheds og identificereingsgrunde låse Fornavn, Efternavn og Studienummer.</p>
