<h3>Godkendeslesplugin</h3>
<p>Her kan du vælge, hvordan brugere i denne insitution vil blive gokendt på websiden. Institutioner bør have mindst én godkendelsesmetode forbundet med dem.</p>
<p>Det <strong>interne</strong> godkendelsesplugin bruger websidens egen database til brugernavne og kodeord. Brugere skal have en konto for at dette virker, hvilket kan klares ved enten at tillade registreing via registrationsformularen eller med <a href="add.php" target="_blank">Tilføj bruger</a> eller <a href="uploadcsv.php" target="_blank">Tilføj brugere med CSV</a> siderne.</p>
<p>Ved at bruge <strong>ingen</strong> godkendelsesmetode kan alle komme ind. Brugere kan vælge enthvert brugernavn og kodeord. Dette bør kun bruges til at teste med!</p>
<p>De andre godkendelsesmetoder gokender generelet mod en ekstern kilde såsom en LDAP server eller fjernapplikation. De har deres egne indstillinger, som du kan konfigurere i et popup vindue når du vælger dem.</p>
<p>Én indstilling som de normalt deler er om konti automatisk kan oprettes i Mahara når en bruger logger ind første gang (i modsætning til at kontiene bliver oprettet på forhånd af administratoren, som brugerne så kan logge ind i).</p>
