<h3>Institutionsudløbsdato</h3>
<p>Hvis du angiver en udløbsdato for denne institution, sker der to ting.  Når <em>varslingstiden for institutionsudløb</em> bliver nået vil både webside- og institutionsadministratorne modtage en e-mail om instutionens nærmende udløb.</p>
<p>Hvis <em>suspender udløbne institutioner</em> indstillingen er slået til, så vil institutionen automatisk blive suspenderet på udløbsdatoen, og brugere af denne institution vil ikke længere kunne logge ind.</p>
<p><em>Varslingstiden for institutionsudløb</em> og <em>suspender udløbne institutioner</em> indstillingerne kan findes på webside indstillinger administrations siden.</p>

