<h3>Standard medlemskabsperiode</h3>
<p>Du kan indstille hvor længe brugere bliver ved med at være en del af institutionen. Når der er gået så lang tid, vil brugerene blive fjernet fra institutionen.</p>
<p>Brugere vil inden tiden løber ud få en e-mail, der fortæller dem at de snart vil blive fjernet.</p>
