<h3>Kodeord</h3>
<p>Dit kodeord skal være på mindst seks tegn og indeholde som minimum ét tal og to bogstaver. Der er forskel på store og små bogstaver, og dit kodeord må ikke være det samme som dit brugernavn.</p>
<p><strong>Advarsel:</strong> Af sikerhedsmæssige årsager skal du aldrig fortælle dit brugernavn til andre brugere, inklusiv webside administratoren.</p>

