<h3>Standard kontoinaktivitetstid</h3>
<p>Hvis dette indstilles, vil brugere der ikke har logget ind i den angivne tid blive anset som inaktive og miste even til at logge ind. Denne tid kan angives i Dage, Uger, Måneder, År eller uden slutdato hvor brugerkonti aldrig vil blive inaktive.</p>
