<h3>Sti til clam</h3>
<p>Filsystem stien til <code>clamscan</code> eller <code>clamdscan</code> til virusscanning. Det antages at skulle clam ikke være i stand til at skanne filen, vil den blive behandlet som var det en virus, og Mahara vil selv oprette en karantæne mappe.</p>
