<h3>Tillad offentlige visninger</h3>
<p>Hvis du ønsker at brugerne skal kunne oprette visninger, der er tilgængelige for offentligheden, bør denne indstilling være slået til. Offentlige visninger kan stadig kun redigeres af ejeren.</p>
