<h3>Slå SURBL URL blacklist til</h3>

<p>SURBL tilbyder en URL blacklist der er gratis til organisationer med færre end
1000 brugere. Et datafeed til professionelt brug findes ogs, men det er ikke understøttet
i Mahara. Læs venligst SURBLs
<a href="http://www.surbl.org/usage-policy.html">brugsbetingser</a> før denne indstilling slåes til.</p>
