<h3>Slå Spamhaus URL blacklist til</h3>

<p>Spamhaus projektet tilbyder en URL blacklist der er gratis til ikke-kommercielt, lav-
trafik brug. Et datafeed til professionelt brug findes ogs, men det er ikke understøttet
i Mahara. Læs venligst Spamhaus DNSBLs
<a href="http://www.spamhaus.org/organization/dnsblusage.html">brugsbetingser</a> før denne indstilling slåes til.</p>
