<h3>Tema</h3>
<p>Når flere temaer er blevet installeret, kan du væge i en dropdown menu, hvliket tema der skal bruges på din Mahara webside. Dette tema vil være standardtemaet som offentligheden kan se.</p>
<p>Institutioner kan også have et standardtema, hvliken kan ses af brugere i den institution som er logget ind. Du kan indstille temaer for institutioner i <a href="../users/institutions.php">Administrer institutioner</a> sektionen.
