<h3>Indlagt indhold: Betroede sider</h3>
<p>For at besktte imod skadelig kode fra andre websider er &lt;object&gt; og &lt;embed&gt; normalt filtreret ud af HTML indhold før det vises.  Denne indstilling gør brugerne i stand til at tage embed koden fra få udvalgte websider og bruge den i deres visninger.</p>
