<h3>Standard kontolevetid</h3>
<p>Hvis dette indstilles, vil brugerkonti udløbe så lang tid efter at de er blevet oprettet. Når en brugerkonto udløber, vil brugeren ikke være i stand til at logge ind. Denne tid kan angives i Dage, Uger, Måneder, År eller uden slutdato hvor brugerkonti ikke bør udløbe.</p>
