<h3>Virusskanning</h3>
<p>Hvis du vil have alle filer, der bliver uploadet af brugere skannet med ClamAV virusskanneren, bør du slå virusskanning indstillingen til.</p>
<p>Du skal have ClamAV insalleret på din server. Mange Linux distributioner har <code>clamav</code> pakker, eller du kan downloade og installere den fra <a href="http://www.clamav.net/">ClamAV hjemmesiden</a>.
