<h3>Tillad offentlige profiler</h3>
<p>Hvis du ønsker at brugerne skal kunne gøre deres profilsider tilgængelige for offentligheden, bør denne indstilling være slået til. Selvom en profil er offentlig, er det stadig kun brugere, der er logget ind, som kan se ineteraktive dele såsom væggen.</p>
