<h3>Offentligt synlige grupper</h3>
<p>Hvis du ønsker at tillade at alle brugere skal kunne oprette grupper, der kan ses af folk der ikke er medlemmer af websiden, vælg indstillingen 'Alle'.</p>
<p>Alle der finder en offentlig gruppe på websiden (inklusiv søgemaskiner) vil være i stand til at se gruppens &quot;Om&quot; side, medlemslisten, og alle diskussioner på forummet. Folk skal dog stadig være medlem af websiden før de kan gøre andre handlinger, såsom at lave indlæg til forummet eller se brugerprofiler.</p>
