<h3>Vis fjernavatarer</h3>

<p>Hvis denne indstilling er slået til,
vil den online<a href="http://www.gravatar.com">Gravatar</a> service blive
brugt til at vise profil-ikoner for brugere, der ikke har vlagt et i Mahara
Det gør brugerne i stand til at vælge deres profil-ikon én gang på Gravatar
siden i stedet for at skulle gøre det på alle Mahara og andre online sider
individuelt. (Hvis Gravatar ikke har et ikon til denne bruger vil standard
billdet i Mahara blive brugt.)</p>

<h4>Grunde til at slå det fra</h4>

<p>Denne indstilling bør slås fra i installationen (såsom isloerede intranet)
hvor <b>brugere ikke har adgang til internettet</b>. Bruges Gravatar i sådan
en opsætning vil det kun skabe unødvendige forsinkelser.</p>

<p>Desuden kan Gravatar på <b>websider der leveres over https</b>, udløse
sikkerhedsadvarlser på visse browsere. Dete er fordi at Gravatar billeder
leveres via den normale, ukrypterede http.</p>

<h4>Egen avatar server</h4>

<p>Hvis du har din egen avatar server, der bruger Gravatar protokollen
kan du angive dens rod url i din config.php fil:</p>

<p><code>$cfg->remoteavatarbaseurl = 'http://example.com/avatar/';</code></p>
