<h3>Artefaktvisnings inaktivitetstid</h3>
<p>Artefaktvisnings inaktivitetstid indstillingen gør dig i stand til at udpege den inaktivitetsperiode der skal gå før at et artefakt eller en visning erklæres for inaktivt.  Denne tid kan angives i Dage, Uger, Måneder, År eller uden slutdato hvor det aldrig vil blive inaktivt.</p>
