<h3>Anti-spam</h3>

<p>Der er tre niveauer af anti-spam beskyttelse tilgængeligt på offentligt
synlige formularer såsom Kontakt Os og registreringsformularen. En formular
indsendelse bliver ikke kasseret i stilhed. I stedet får brugeren en fejl-
meddelese om at indsendelsen ligner spam, og bliver bedt om at prøve igen.</p>

<p><b>Ingen: </b>Indsendelserne bliver ikke checket for spam.</p>

<p><b>Simpel: </b>Nogle grundlæggende spam checks bliver gjort. Formularer med
e-mail-adresser der ikke er velformede eller har overdrevent mange URL links,
vil blive afvist.</p>

<p><b>Avanceret: </b>(Kræver internet forbindelse). Udfører yderligere checks
for at se om e-mail-adresserne er ægte eller om nogle af indendelsens URL links 
er blacklistede.</p> 
