<h3>Session levetid</h3>
<p>Af sikkerhedsårsager, efter et angivet stykke tids inaktivitet vil brugeren automatisk blve logget ud.  Session levetid feltet angiver hvor mange minutter der skal gå før at en inaktiv bruger bliver logget ud.</p>
