<h3>Autosuspender udløbne institutioner</h3>
<p>dagligt bliver institutionerne checket om de er udløbet.  Hvis dette er indstillet vil Mahara automatisk suspendere udløbne institutioner. Det betyder at brugere fra den institution ikke vil være i stand til at logge ind, indtil at institutionen bliver afsuspenderet.</p>

