<h3>Advarselstid for konto inaktivitet/udløb</h3>
<p>Hvis dette indstilles, får brugeren en advarselsbesked så lang tid før at deres konto udløber eller bliver erklæret inaktiv. Denne tid kan angives i Dage, Uger, Måneder, År eller uden slutdato hvor brugere ikke bliver advaret om at deres konto snart er ved at udløbe eller blive erklæret inaktiv.</p>
