<h3>Sprog</h3>
<p>Standardsproget som menuer og kontekst hjælp skal være på i denne Mahara installation.  Når yderligere oversættelser er installeret på din Mahara webside vil brugere være i stand til at skifte sprog i deres kontoindstillinger.</p>
