<h3>Brugere kan være i flere institutioner</h3>
<p>Hvis slået til, kan brugere være en del af mere end én institution ad gangen. Brugere vil være i stand til at anmode om at blive en del af en institution til hver en tid, men institutionen skal stadig gokende deres anmodning. Ligeledes kan institutioner invtere brugere, men brugerne skal acceptere invitationen.</p>
