<h3>Advarselstid for institutions inaktivitet/suspendering</h3>
<p>Hvis dette indstilles, får institutionsadministratoren en advarselsbesked så lang tid før at institutionen udløber eller bliver suspenderet. Denne tid kan angives i Dage, Uger, Måneder, År eller uden slutdato hvor institutionen ikke bliver advaret om at institutionen snart er ved at udløbe.</p>

