<h3>Send ugentlige opdateringers</h3>
<p>Hvis du vælger &quot;send ugentlige opdateringer&quot;, vil Mahara automatisk sende en opdatering til mahara.org hver uge med opdateret information om din installation.</p>
<p>Den information, der sendes, er overordnet statistisk information, og ingen personlige oplysninger om dine brugere vil blive sendt. Du kan gennemse den type information, der sendes før du registrer din Mahara webside (hvilket du kan gøre fra administrator hjemmesiden).</p>
