<h3>Mine grupper</h3>
<p>Denne side viser de grupper, som du har del i på den ene eller anden måde.</p>
<p>Du kan se de grupper som du ejer eler er medlem af, samt de grupper du har ansøgt om medlemskag hos eller fået en invitation fra.</p>
<p>Når du er i en gruppe kan du dele dine visninger med de andre medlemmer, samt deltage i gruppeaktiviteter såsom diskussionsfora.</p>
