<h3>Bøger og udgivelser</h3>
<p>I denne sektion kan du opstille de udgivelser du har deltaget i eksempelvis som redaktør eller designer. Klik på ‘Tilføj’ for at begynde at lave en ny indtastning til din medlemsskabshistorie. Brug ‘Annuller’ til at lukke formularen uden at gemme din indtastning.</p>
<p>Bemærk: Det er vigtigt at du gemmer hver ny indtastning ved hjælp af knappen i bunden af formularen.</p>
<p>Indtastningerne vises i et tabelformat. Lav ændringer i en indtastning ved at klikke på <span style="text-decoration:underline">Rediger</span>. Når du er færdig, så gem dine ændringer for at vende tilbage til denne side. Klik på <span style="text-decoration:underline">Slet</span> for at fjerne indtastninger.</p>
<p>Hvis du har givet en beskrivelse af dine udgivelser, så klik på udgivelsens titel for at vise eller skjule denne information.</p>
