<h3>Uddannelseshistorie</h3>
<p>I denne sektion kan du lave en oversigt over dine akademiske kvalifikationer. Klik på ‘Tilføj’ for at begynde at lave en ny indtastning til din uddannelseshistorie. Brug ‘Annuller’ til at lukke formularen uden at gemme din indtastning. Hvis du har mere end én indtastning kan du bruge pilene til at sætte dem i den rækkefølge du ønsker.</p>
<p>Bemærk: Det er vigtigt at du gemmer hver ny indtastning ved hjælp af knappen i bunden af formularen.</p>
<p>Indtastningerne vises i et tabelformat. Lav ændringer i en indtastning ved at klikke på <span style="text-decoration:underline">Rediger</span>. Når du er færdig, så gem dine ændringer for at vende tilbage til denne side. Klik på <span style="text-decoration:underline">Slet</span> for at fjerne indtastninger.</p>
<p>Hvis du har givet en beskrivelse af dine kvalifikationer, så klik på kvalifikationen titel for at vise eller skjule denne information.</p>
