<h3>Automatisk abonnerende brugere</h3>
<p>Hvis du ønsker at brugere automatisk skal abonnere på indlæg i dette forum når de melder sig til, skal du sætte denne indstilling til 'ja'.</p>
<p>Når de abonnerer, bil brugerne få en besked når der er indlæg til emner i dette forum.</p>
<p>Brugere har mulighed for at annullere abonnementet, hvs de ikke ønsker beskederne.</p>
