<h3>Portnummer</h3>
<p>Det pornummer som fjernapplikationen lytter til. Du behøver sandsynligvis ikke at ændre dette, men mindre du forbinder dig til en https server eller din fjernapplikation kører på en ikke-standard port.</p>