<h3>Log ind fejl besked</h3>
<p>Når der ikke er en overordnet autoritet kan brugere kun logge ind via SSO, og ikke gennem Maharas log ind formular.</p>
<p>Indtast en besked her som skal vises til brugerne, når de forsøger at bruge Mahara's log ind formular. Denne besked bør give brugrne den information de har brug for så de kan bruge SSO til at få adgang til Mahara.</p>
