<h3>Overordnet autoritet</h3>
<p>Hvis du opsætter en overordnet autoritet, vil brugerne også være i stand til at logge in der via SSO.</p>
<p>For eksempel kunne du sætte en LDAP godkendelse op og lade den være overodnet til denne autoritet. Det betyder at brugerne kan bruge Maharas indbyggede log ind formular med deres LDAP detaljer, asåvel som via SSO fra en ekstern godkendelse.</p>
<p>Du behøver ikke at indstille en overodnet autoritet. Gør du ikke, vil brugere der brugte denne funktion til at logge ind, nu kun komme ind via SSO.</p>
