<h3>De SSO hos os</h3>
<p>Slå dette til, hvis du vil tillade at brugere fra fjernsiden kan færdes på din Mahara webside, uden at behøve at indtaste brugernavn og kodeord.</p>
<h3>Vi SSO hos dem</h3>
<p>Slå dette til, hvis du vil tillade at brugere fra din Mahara webside kan færdes på fjernsiden, uden at behøve at logge ind igen der.</p>
