<h3>Vi importerer indhold</h3>
<p>Ikke alle netværkssunderstøttende applikationer er i stand til dette, men hvis de er vil det tillade at brugere fra fjernsiden kan importere deres indhold hertil.</p>
<p>Det afhænger af 'De SSO hos os' og det er fornuftigt også at have 'Vi auto-opretter brugere' slået til</p>
