﻿<h3>Kvote</h3>
<p>Du er blevet tildelt en mængde opbevaringsplads som du kan bruges til at uploade filer til systemet. Hvis du nærmer dig din kvotegrænse, kontakt din underviser eller administrator og hør om du kan få hævet grænsen.</p>
