﻿<h3>Tags</h3>
<p>Du kan tagge de artefakter og visninger du opretter i Mahara.  Med tags kan du tilføje beskrivende etiketter til artefakter og visninger, og oprettet et tag indeks.</p>
<p>For at tilføje flere tags til et artefakt eller en visning kan du adskille hvert tag med et komma. Eksempelvis - ‘Bedømmelse, 2. Semester, Administration’.</p>
<p>Hvis du klikker på <b>Vis mine tags</b> får du en liste over de tags du tidligere har brugt i din protefølje og hvor mange gange du har brugt dem.  Hvis du klikker på et eksiterende tag, vil det blive tilføjet til tag-listen på det artefakt eller den visning du er ved ar oprette eller redigere.</p>
<p>Når du bruger <b>Søg min protefølje</b> kan du finde alle de artefakter og visninger, som du har givet et bestemt tag, og kan dermed bruge det som et filsystem eller indeks til din portefølje.</p>
