<h3>Aktivitetstype</h3>
<p>Vælg fra dropdown menuen hvilken beskedtype du ønsker at se.</p>
<p><strong>Nyt forumindlæg:</strong> besked om et nyt indlæg i et forumemne, som du abonnerer på</p>
<p><strong>Feedback:</strong> beskeder om feedback eller kommentarer til visninger, artefakter eller blogs i din portefølje.</p>
<p><strong>Gruppebesked:</strong> besked sendt til gruppeejere når nye visninger indsendes til gruppen</p>
<p><strong>Systembesked:</strong> automatiske beskeder fra systemet, eller beskeder sendt fra en af webside administratorerne.</p>
<p><strong>Beskeder fra andre brugere:</strong> beskeder sendt til dig direkte fra andre brugere.</p>
<p><strong>Ny visningsadgang:</strong> besked om at du eller en af dine gupper nu har adgang til en ny eller eksisterende ikke-offentlig visning.</p>
<p><strong>Overvågningsliste:</strong> besked om aktivitet på ethvert artefakt, visning, gruppe, eller blog som du overvåger.</p>
