<h3>BBCode</h3>
<p>BBCode giver dig mulighed for at formattere teksten såsom at gøre den <strong>fed</strong> eller <em>kursiv</em> i dine beskeder.</p>
<p>For eksempel, hvis du formattere et ord med fed, skal du skrive det sådan: [b]halløj[/b]. i din besked vil ordet se sådan ud: <strong>halløj</strong>. BBCode makørerne - [b] og [/b] - vil forsvinde.</p>
<p>De følgende BBCodes er tilgængelige:</p>
<ul>
    <li><strong>[b]</strong> og <strong>[/b]</strong> for at skrive med <strong>fed</strong> - eksempelvis [b]ponyer[/b].</li>
    <li><strong>[i]</strong> og <strong>[/i]</strong> for at skrive med <em>kursiv</em> - eksempelvis [i]utroligt![/i].</li>
    <li><strong>[img]</strong> og <strong>[/img]</strong> for at indsætte et billede - eksempelvis [img]http://mahara.org/favicon.ico[/img]</li>
    <li><strong>[url]</strong> og <strong>[/url]</strong> for at indsætte et link - eksempelvis [url]http://google.dk[/url] eller [url=http://google.dk/]Google[/url]</li>
</ul>
<p>Bemærk at links i din besked bliver gjort aktive automatisk.</p>
