<h3>Skabelonkategori menu</h3>
<p>De skabeloner, der er tilgængelige på websiden er opdelt i kategorier. Vælg en kategori for at se de skabeloner, der er gemt i den eller vælg Alle skabeloner for at se alle tilgængelgige skabeloner.</p>
