<h3>Log ind</h3>
<p>Dine log ind detaljer er enten det brugernavn og kodeord, som du indtastede da du blev registreret eller andre, som du er blevet tildelt af webside administratoren.</p>
<p>Klik på <a href="forgotpass.php">kodeords påmindelse</a> for at anmode om at få nulstillet dit kodeord til hver en tid.</p>
<p>For din egen sikkerheds skyld vil du automatisk blive logget ud af systemet hvis du har været inaktiv et stykke tid. Du vil blive bedt om at logge ind igen.</p>
<p><strong>Bemærk:</strong> Denne webside kræver en nyere webbrowser såsom Internet Explorer version 6.0, Firefox 1.5, Safari 2, Opera 9 eller bedre. For at bruge Mahara skal du have cookies slået til i din browser.</p>
