<h3>Afventende medlemskabsanmodninger</h3>
<p>Afhængigt at den medlemskabstype du har valgt til dit fællesskab vil afventende medlemskabsanmodninger blive vist her. Du vil også blive gjort opmærksom på nye anmodninger via beskeder. Når du accepterer eller afviser en medlemskabsanmodning vil brugere få besked om din beslutning.</p>
