<h4>Giv feedback</h4>
<p>Offentlig feedbackkan ses af andre brugere med adgang til visningen, mens privat feedback kn kan læses af visningens ejer. Visningens ejer kan vælge at gøre offentlig feedback privat.</p>
<h4>Anmeld anstødeligt materiale</h4>
<p>Du kan anmelde materiale, som du vinder anstødeligt til webside administratoreren.</p>
<h4>Udskriv</h4>
<p>Udkriftsmuligheden giver dig en udskriftsvenlig version af visningen.</p>
<h4>Tilføj visning til overvågningsliste</h4>
<p>Hvis en visning er på din overvågningsliste, vil du få en besked når ejeren ændrer på den.</p>
