<h3>Rediger visning styring</h3>
<h4>Rediger visning information</h4>
<p>
    Rediger vinsing informations området er det samme som trin 1 af opret visning
    og lader dig skifte titel, adgangsstart og slut datoer, beskvielse
    og hvordan du ønsker at dit navn skal se up på visningen.
</p>
<h4>Rediger visning</h4>
<p>
    Rediger visning området er det samme som trin 3 af opret visning og lader
    dig tilføje er ændre hvordan de artefakter, der er tilknyttet din visning 
    skal vises.
</p>
<h4>Rediger adgang</h4>
<p>
    Rediger adgang området er det samme som trin 4 af opret visning og lader
    dig tilføje, redigere eller fjerne adgang til visningen for ethvert af dine
    fællesskaber og udvalgte individer.
</p>
<h4>Indsend til bedømmelse</h4>
<p>
    Hvis du laver en visning i forbindelse med en bedømt opgave og du er blevet
    tilføjet som medlem af et kontrolleret fællesskab, der har en tilknyttet
    underviser, kan du indsende din visning til bedømmelse.
</p>
<p>
    Indsend visning vil låse hele visningen og alle tilknyttede artefakter så
    de ikke kan redigeres og sende et øjebliksbillede af din visning på den
	pågældende dato til din underviser. Bemærk at brugere med adgang til visningen
	stadig kan give kommentarer og feedback mens den er låst til bedømmelse.
	Når bedømmelsesprocessen er overstået vildin undervise frigive din visning
    så du kan fortsætte med at redigere den. Du vil få tilsendt en besked når
    din visning er blevet frigivet fra bedømmelse.
</p>
