<h3>Gruppefiler</h3>
<p>Gruppefil området er hvor delte filer og mapper til brug i gruppens visninger bliver opbevaret.</p>
<p>Du kan trække og slippe for at organisere filer og mapper.</p>
<p>Af sikkerhedsgrunde kan webside administratoren begrænse hvilke filtyper, der kan uploades. </p>
