<h3>Mine filer</h3>
<p>Mine filer området er hvor filer og mapper bliver opbevaret i din portefølje.</p>
<p>Antallet af filer du kan uploade afhænger af hvad din filupload grænse er, hvliket kan se i kvote boksen til højre på skærmen.</p>
<p>Du kan trække og slippe for at organisere filer og mapper.</p>
<p>Af sikkerhedsgrunde kan webside administratoren begrænse hvilke filtyper, der kan uploades. </p>
