<h3>Profil-ikoner</h3>
<p>
    Profil-ikon området lader dig uploade billder, der vil blive vist ved siden
    af dit navn mange steder i systemet.
</p>
<p>
    Du kan have op til 5 ikoner i dit profil-ikon område ad gangen. De billeder
    du uploader skal være mindst 16x16 pixles og højest 1024x1024 pixels.
    Dine uploadede billeder tager en del af din filkvote.
</p>
<p>
    Dit standdarikon vil blive vist til andre ved siden af dit navn omkring på
    siden, og du kan bruge de andre billeder i de visninger du opretter.
</p>
<p>
<strong>Bemærk:</strong> Alle dine profil-ikoner(ikke kun dit standardikon)
    kan ses af alle brugere der er logget ind. Slet dem, hvis du ikke vil have
    at andre skal kunne se dem.
</p>
