<h3>Webside filer</h3>
<p>Webside filer området virker næsten på samme måde som Mine file området. De filer, der bliver uploadet til dette område, er tilgængelige for alle brugere, og hvis de er placeret i 'public' mappen, er de også tilgængelige for offentligheden, hvis de har den rigtige URL.</p>
