<h3>Rediger visning</h3>
<p>At designe din visning gør dig i stand til at individualisere hvordan dine ressourcer og information bliver vist. For eksempel, hvis du ønsker kun at vise ét af dine blogindlæg, klik på Blogs fanen og træk Blogindlæg blokken ind i dit visningsområde. Husk at klikke på Gem når du tilføjer nye elementer til din visning.</p>
<p>Efterhånden som du opbygger indholdet i dit layout kan du se hvordan det kommer til at se ud ved at klikke på 'Vis min visning'. Klik på 'Tilbage til rediger min visning' for at blive ved med at redigere.</p>
