<h3>Visningsdetaljer</h3>
<p>Her kan du give din visning en titel og en bskreivelse, så folk har en idé om hvad den handler om.</p>
<p>Du kan også tagge din visning for at gøre den nemmere at finde når du søger i din portefølje. Hvis du giver visningen tagget "profile" vil det være i dit sidepanel, hvilket gør det nemt at få fat i, uanset hvor i systemet du er.</p>
