<h3>Rediger visningsadgang</h3>
<p>Du kan styre, hvem der har adgang til din visning og hvornår. Som standard kan kun du se dine visning. Du kan dele din visning med offentligheden, brugere der er logget ind eller dine venner ved at klikke på den passende tilføj knap. Du kan også give agang til individuelle grupper og brugere ved at bruge søgeværktøjet.</p>
<p>Du kan indstille adgangsdatoer, der gør dig i stand til at dele din visning i en bestemt periode såsom et semester, en projektperiode, eller bare for en enkelt dag. Alle datoer er valgfri. Individuelle brugere kan gives adgang efter forskellige adgangsregler.</p>
<p><strong>Eksempel:</strong> Nigel er i gruppen "The Coolpeople's Club". Hvis du giver ham adgang til visningen i dag, og giver The Coolpeople's Club adgang til din visning i morgen, vil han være i stand til at have adgang visningen begge dage.</p>
