<h3>Plugin administration</h3>
<p>Profilfelterne, der er markeret som påkrævede, skal være inkluderet i en brugeroprettelses CSV fil eller udfyldt af brugerne når de bliver registeret på siden.</p>
<p>Profilfelterne, der er markeret som offentlige, vil være tilgængelige for alle brugere, både til at søge efter, og til at se på den offentlige del af profilsiderne.</p>
