<h3>Institution Check Value</h3>
<p>Det er denne værdi, der vil blive checket overfor Institution Attribute værdien som er sendt fra din Identity Provider (IdP) som viser hvilken institution som 
brugeren er en del af. Hvis Institution Regex er slået til kan denne værdi være et regulært udtryk, som vil blive brugt til at checker overfor Institution Attribute værdien.</p>
