<h3>Institution Attribut</h3>
<p>Dette er den attribut, der gives fra din Identity Provider (IdP), som viser hvilken institution som 
brugeren er en del af. Disse er som regel det samme som LDAP attributterne (sign in servicen hos din IdP) eksempelvis: eduPersonOrgDN</p> 
