<h3>Opdater brugerinformation ved log ind</h3>
<p>Hvis dette er slået til, vil brugernes fornavne, efternavne og e-mail-adresser blive opdateret fra de værdier som din Identity Provider (IdP) sender.</p>
