<h3>Simpel SAML PHP opsætnings sti</h3>
<p>Den fulde kvalificerede stil til opsætningsmappen der bruges til denne Service Provider (SP) Simple SAML PHP. 
Eksempelvis: Hvis den filde sti til config.php er /some_path_to/simplesamlphp_1_3/config/config.php
 skal denne værdi være /some_path_to/simplesamlphp_1_3/config/</p>
