<h3>Simpel SAML PHP Library sti</h3>
<p>Den fulde kvalificerede stil til Simple SAML PHPs library mappe. 
Eksempelvis: Hvis den filde sti til bootstrap autoload.php is /some_path_to/simplesamlphp_1_3/lib/_autoload.php
 skal denne værdi være /some_path_to/simplesamlphp_1_3/</p>
