<h3>Kontaktinformation</h3>
<p>Din kontaktinformation er taget og redigeret direkte fra din <b>Profil</b>.  For at tilføje til eller redigere denne information, klik på <b>Rediger profil</b>.  Når du har indtastet den påkrævne information, klik på <b>Rediger mit CV</b> for at vende tilbage til dit CV område.</p>
<p>Bemærk at du er nødt til at <b>gemme</b> enhver information du har indtastet i dit CV område som du ønsker at bevare før du går over til din profil.</p>
