<h3>Startdato</h3>
<p>Dette er den dato hvor du begyndte at studere hos den pågældende institut eller organisation. Du bestemmer selv hvilket datoformat du ønsker at bruge. For eksempel '2. April 2008' eller 'November 2005'.</p>
