<h3>Mine mål</h3>
<p>Mål området er inddelt i tre sektioner: Personlige, akademiske og karriere mål. De mål du tilføjer her kan inkluderes i dine visninger.</p>
<p>Personlige eller karrieremål gives ofte i CVer så arbejdsgiverne kan forstå hvordan en given rolle passer med dine ambitioner.</p>
<p>Du kan også bruge sektionen om dne akademiske mål til at beskrive de resultater du søger i forbindelse med dine studier.</p>
