<h3>Interesser</h3>
<p>Interesser sektionen lader dig vise dine personlige og/eller professionelle interesser.  Dette kan eksempelvis være dine hobbyer, sportsaktiviteter, frivilligt arbejde, forskningsområder, ekspertiser og så videre.  Ved at vise dine interesser hjæler du arbejdsgiverne med at få et billede af hvem du er og hvad du kan tilbyde deres organisation.</p>
