<h3>Mine kompetencer</h3>
<p>Evner områder er inddelt i tre sektioner: Personlige, akademiske og arbejdskompetencer. De kompetencer du tilføjer her, kan inkluderes i dine visninger</p>
<p>Arbejdsgivere er altid interesserede i, hvilke kompetencer du kan tilbyde til en rolle. Du kan også bruge denne sektion til at vise de egenskaber som du kan tilbyde til et samarbejdende fællesskab eller arbejdsgruppe.</p>
