<h3>Find venner</h3>
<p>Denne side gør dig i stand til at søge efter brugere, som du vil tilføje som venner. Afhængigt af deres vennestyrings indstillinger kan du automatisk blive godkendt som deres ven eller du kan være nødt til at sende en venneanmodning. Nogle brugere kan endda have valgt at afvise alle anmodning på forhånd.</p>
<p>Når du sender en venneandmodning, kan du vælge at inkludere en kort besked, hvor du kan introducere dig selv. Dette er især vigtigt, hvis du har et valgt et vist navn, da andre ikke vil være i stand til at se dit rigtige navn.</p>
