<h3>Mine venner</h3>
<p>Dit venne område viser en liste med dine venner og de visninger, der er blevet delt med dig.</p>
<p>En bruger kan gentage en venneanmoding, selvom du har afvist en tidligere anmodning fra samme bruger.</p>
