<h3>E-mail-adresse</h3>
<p>Selvom den e-mail-adresse du har givet da du registerede er din primære kontaktadresse, kan du have flere e-mail-adresser vist på siden. Du kan bruge envher af dine bekræftede e-mail-adresser i din profil.</p>
<p>For at tilføje flere adresser, klik på <a onclick="email_new(); return false;" href="">tilføj e-mail-adresse</a>. Når du gemmer din profil bliver der sendt en besked til den nye adresse. Klik på linket i e-mailen for at bekræfte adressen.</p>
<p><strong>Bemærk:</strong> E-mail linket er kun gyldigt i 24 timer. Hvis fristen overskrides, skal du gentage processen.</p>
