<h3>Ikonstørrelse</h3>
<p>Ikonstørrelsen er den maksimale højde og bredde i pixels somen brugers profil-ikon kan have. Billeder der bliver uploadet som profil-ikoner vil blive tilpasset til denne størrelse. </p>
