<h3>Brugernavn/Kodeords påmindelse</h3>
<p>Hvis du har glemt dit brugernavn eller kodeord kan websiden sende dig en besked med dit brugernavn og et link du kan klikke på for at nulstille dit kodeord. Indtast dit brugernavn eller din primære e-mail-adresse i feltet og klik på 'Send anmodning'. Du vil automatisk få en e-mail. For at skifte dit kodeord, følg linket i e-mailen for at bekræfte din anmodning om at nulstille.</p>
<p><strong>Advarsel:</strong> Hvis du modtager en e-mail om at skifte kodeord, som du ikke selv har bestilt kan den være en forfalskning. Klik ikke på links i sådanne e-mails.</p>
