<h3>Registrering</h3>
<p>Hvis din ePortefølje konto ikke er oprettet på forhånd af din institution, bliver du nødt til at registre dig selv. I dette tilfælde skal du udfylde og indsende denne registrationsformular. Der vil blive sendt en e-mail til din adresse, som vil indeholde et link. Følg dette for at bekræfte din konto og logge ind i systemet. Modtager du ikke en e-mail indenfor 24 timer, undersøg om den er endt i dit spamfilter. Har du problemer med at registere dig på websiden, kontakt da webside administratoreren.</p>
<p><strong>Bemærk:</strong> E-mail linket er kun gyldigt i 24 time. Derefer skal du gentage processen.</p>
<p>Du vil blive bedt om at indtaste alle påkrævede registrationsfelter og har mulighed for at uploade et profilbillede. Når du er registreret skal du indtaste dit brugernavn og kodeord (og måske din institution) for at kunne logge ind i din portefølje.</p>
<p><strong>Bemærk:</strong> Denne webside kræver en nyere webbrowser såsom Internet Explorer version 6.0, Firefox 1.5, Safari 2, Opera 9 eller bedre. For at bruge Mahara skal du have cookies slået til i din browser.</p>
